@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #DADED4 !important;
}
.MuiButton-root:hover {
    text-decoration: none;
    /* background-color: #fff !important; */
}
.makeStyles-btn-22:hover {
    background-color: #DADED4;
    background-color: #fff !important;
}
.MuiPaginationItem-page.Mui-selected {
    background-color: rgba(57, 96, 61,0.8) !important;
    color: #DADED4 !important;
}